.box {
    width: 200px;
    height: 200px;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
}

.box:hover {
    background-color: #ffffff;
    color: royalblue;

}

#box-1 {
    transition: transform 0.5s;
}

#box-1:hover {
    transform: translateX(25%)
}